@charset "utf-8";
/* CSS Document */

.header {
    background: #2780e3;
    padding: 3.0rem 0;
    color: white;
}

.header h1, .header .h1 {
    margin: 0;
}

#upProgress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

.ajaxProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    border-radius: 5px;
    border: gray 1px solid;
    background-color: gray;
    font-size: 24px;
    padding: 15px;
    z-index: 1001;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottommargin-sm {
    margin-bottom: 15px !important;
}

.bottommargin-md {
    margin-bottom: 25px !important;
}

.bottommargin-lg {
    margin-bottom: 50px !important;
}

@media screen and (max-width:767px) {
    .main-top {
        margin: 0;
    }

    .navbar {
        margin-bottom: 0;
    }

    .sidebar {
		margin-top: 25px;
	}
}

.main-top {
    margin-bottom: 4.0rem;
}

.main-bot {
    background: rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.6);
    padding: 4.0rem 0;
    margin-top: 4rem;
}

    .main-bot .col {
        font-size: 1.4rem;
    }

        .main-bot .col h3 {
            font-size: 3.0rem;
            font-weight: 700;
            margin: 0;
        }

        .main-bot .col p {
            margin: 0 0 2.4rem;
        }

.footer {
    background: rgba(0,0,0,.15);
    text-align: center;
    padding: 4.0rem 0;
}

/* CSS for Exception Page */

html, body
{
	height: 100%;
}
/* end hack */

body
{	
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.banner
{
	height: 52px; 
	background-image:url(../images/arenaBasicBannerStripes.jpg);
	background-repeat:repeat-x;
}

.banner td:first-child
{
	vertical-align: bottom;
	padding: 0 0 15px 15px; 
}

.banner td:last-child
{
	color: #cdcdcd;
	font-size: .8em;
	cursor: pointer;
	vertical-align: top;
}

.banner td:last-child img
{
	padding: 4px 20px 0 0;
	cursor: pointer;
}

.highlightText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5B6274;
	padding: 5px;
}

.linkItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: blue;
	font-weight: normal;
	text-decoration: underline;
	cursor: pointer;
}