#personPopupContainer
{
	position:absolute;
	left:0;
	top:0;
	display:none;
	z-index: 1000000;
}

.personPopupPopup
{
	margin-left: 10px;
	border: 2px solid #54585B;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	-moz-box-shadow: 8px 8px 8px #777;
	-webkit-box-shadow: 8px 8px 8px #777;
	box-shadow: 8px 8px 8px #777;
}

#personPopupContent
{
	background-color: #FFF;
	min-width: 175px;
	min-height: 50px;
	padding-top: 8px;
}

.personPopupWrap img.nophoto
{
	visibility: hidden;
}

.personPopupWrap a.trigger
{
	text-decoration: none;
}

.personPopupWrap img
{
	margin-right: 3px;
}

a.trigger span
{
	text-decoration: underline;
}

.personPopupWrap span.nolink
{
	text-decoration: none;
}

.personPopupPopup .personPopupImage
{
	margin: 5px;
	margin-right: 15px;
}