/***********************************************************
*	Styles used by the My Repeating Payments control
************************************************************/

.repeatingPaymentDisplay {
width: 100%;
}

.repeatingPaymentItem, .repeatingPaymentAltItem {
	border: solid 1px #CCCCCC;
	margin: 10px;
	padding: 10px;
background-color: #fbfeff;
width: auto;
}

.repeatingPaymentItem h3, .repeatingPaymentItem p, repeatingPaymentAltItem h3, .repeatingPaymentAltItem p {
margin: 0px;
padding: 0px 0px 5px 0px;
}

.repeatingPaymentFunds {
	padding-top: 5px;
}

.repeatingPaymentFund {
}

.repeatingPaymentFundName {
	font-weight: normal;
}

.repeatingPaymentFundAmount {
	font-weight: normal;
}

.repeatingPaymentTotal {
font-weight: bold;
padding-top: 15px;
border-bottom: 1px solid #ccc;
margin-bottom: 5px;
clear: both;
}

.repeatingPaymentTotalAmount {
	font-weight: bold;
color: #5da537;
}

.repeatingPaymentButtons {

}

.repeatingPaymentItem input, .repeatingPaymentAltItem input, .cancelButton {
font-size: 1em;
padding: 5px 5px 5px 22px;
margin-top: 10px;
margin-right: 10px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eeeeee;
    border-left:1px solid #eeeeee;
    font-weight:bold;
	cursor:pointer;
	overflow:visible;
}

.repeatingPaymentItem .edit, .repeatingPaymentAltItem .edit {
background-repeat: no-repeat;
background-position: 5px center;
background-image: url('../Images/edit.gif');
color: #5da537;
}
.repeatingPaymentItem .delete, .repeatingPaymentAltItem .delete, .cancelButton {
background-repeat: no-repeat;
background-position: 5px center;
background-image: url('../Images/delete.gif');
color: #911a1c;
}
.repeatingPaymentItem .edit:hover, .repeatingPaymentAltItem .edit:hover {
background-color:#edf7dc;
border:1px solid #5da537;
}
.repeatingPaymentItem .delete:hover, .repeatingPaymentAltItem .delete:hover, .cancelButton:hover {
background-color:#f4e8e8;
border:1px solid #911a1c;
}
.repeatingPaymentItem input:focus {
border-width: 0px;
}

.repeatingPaymentError {
	padding-top: 10px;
	font-size: 12px;
	color: #990033;
}

.givingWizardConfirmLabel {
	font-weight: normal;
text-align: right;
}
.givingWizardConfirmHeader {
font-weight: bold;
text-align: left;
}

.givingWizardConfirmItem {
	font-weight: bold;
}

.givingWizard {
	margin: 10px;
}
.givingWizard table {
width: 100%;
}
.givingWizard .alert {
margin: 10px 0px 10px 0px; 
font-size: 1.25em;
}
.givingWizard .confirmTable {
position: relative;
width: 100%;
clear: both;
line-height: 1em;
}
.givingWizard .confirmTable tr {

position: relative;
}
.givingWizard .confirmTable tr td {
position: relative;
width:50%;
border-bottom: 1px solid #e3e3e3;
padding: 7px;
}
.gwReInfoTable, .tableCredit, .tableBank, .tableContact {
clear: both;
border: solid 1px #CCCCCC;
margin-bottom: 10px;
background-color: #fbfeff;
}
.givingWizardFunds {
border: solid 1px #CCCCCC;
	padding: 10px;
margin-bottom: 10px;
background-color: #fbfeff;
}
.gwReInfoTable td, .tableCredit td, .tableBank td, .tableContact td {
padding: 7px;
}
.givingWizardHeading {
	font-size: 1.5em;
color: #777;
	padding-bottom: 5px;
}

.givingWizardSubHeading {
	padding-bottom: 10px;
}

.givingWizardLabel {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
text-align: right;
}
.givingWizardHonorarium
{
    text-align:left;
}

.givingWizardCheckBox {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.givingWizardItem {
	font-size: 12px;
	font-weight: normal;
}

.givingWizardFooterLabel {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.givingWizardFooterItem {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.givingWizardFooterItem input {
	background-color: #efefef;
}

.givingWizardfunds {
	padding-top: 10px;
}

.givingWizardFunds table tr th {
	font-size: 12px;
/*text-align: center;*/
}

.givingWizardCheckImage
{
}

.givingWizardAgreement {
	padding-top: 10px;
}


.givingWizardError {

	padding-top: 10px;
	font-size: 12px;
	color: #990033;
}
.givingWizardConfirmationNumber {
font-weight: bold;
}

.nextButton, .previousButton, .finishButton {
	font-size: 1em;
padding: 5px 5px 5px 22px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eeeeee;
    border-left:1px solid #eeeeee;
    font-weight:bold;
cursor:pointer;
overflow:visible;
background-repeat: no-repeat;
background-position: 5px center;
background-image: url('../Content/HtmlImages/Public/Images/General/redesign06/global/icon_arrow.gif');
color: #5da537;
}
.previousButton {background-image: url('../Content/HtmlImages/Public/Images/General/redesign06/global/icon_arrowLeft.gif');}
.finishButton {background-image: url('../Content/HtmlImages/Public/Images/General/redesign06/global/icon_finish.gif');}

.nextButton:hover, .previousButton:hover, .finishButton:hover {
background-color:#edf7dc;
border:1px solid #5da537;
}

.RadCalendar .rcMain .rcRow td.calendar-disabled span
{
	color: #999;
}

.RadCalendarp .rcMain .rcRow td.calendar-enabled a
{
	color: #000;
}