.TopGroup
{
  z-index:99;
  position:relative;
  width:100%;
  clear: both;
}

.DefaultTab 
{
  color:black; 
  background-image: url(../include/componentart/tabstrip/tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.DefaultTabHover 
{
  color:black; 
  background-image: url(../include/componentart/tabstrip/hover_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.SelectedTab 
{
  color:black; 
  background-image: url(../include/componentart/tabstrip/selected_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.MultiPage
{
  background-color:White;
  border: 1px solid #919B9C;
  width:80%;
  position:relative;
  padding:10px;
  top:-3px;
  left:1px;
}

.PageContent
{
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
}
